body{
    align: center;
    font-size: 15px;
    color:black;
}
.autorization{
    display:flex;
}
.register{
    padding-left: 10px;
}
.line{
    background-color: crimson;
   color: crimson;
    size: 3px
}
.heading{
    text-transform:uppercase;
}
.rules{
    text-align: center;
}