<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <welcome-file-list>
        <welcome-file>autorization.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>com.laba1.Bean.GameServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RatingServlet</servlet-name>
        <servlet-class>com.laba1.Bean.RatingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RatingServlet</servlet-name>
        <url-pattern>/RatingServlet</url-pattern>
    </servlet-mapping>

</web-app>